swagger: "2.0"
info:
  title: CoinCap API 2.0
  description: CoinCap is a useful tool for real-time pricing and market activity for over 1,000 cryptocurrencies. By collecting exchange data from thousands of markets, we are able to offer transparent and accurate data on asset price and availability.
  version: 1.0.0
  contact:
    name: CoinCap API
    url: https://docs.coincap.io
host: api.coincap.io
basePath: /v2
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /assets:
    get:
      summary: Get the cryptocurrencies
      operationId: getCurrencies
      consumes:
        - application/json
      parameters:
        - in: query
          name: search
          description: search by asset id (bitcoin) or symbol (BTC)
          type: string
          required: false
        - in: query
          name: ids
          description: query with multiple ids=bitcoin,ethereum,monero
          type: string
          required: false
        - in: query
          name: limit
          description: max limit of 2000
          type: integer
          required: false
        - in: query
          name: offset
          description: offset
          type: integer
          required: false
      responses:
        "200":
          description: CryptoCurrencies retrieved successfully
          schema:
            $ref: "#/definitions/CurrencyResults"
        "400":
          description: Client error
          schema:
            $ref: "#/definitions/ErrorResponse"
definitions:
  CurrencyResults:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/Currency"
      timestamp:
        type: integer
  Currency:
    type: object
    properties:
      id:
        type: string
        description: unique identifier for asset
      rank:
        type: string
        description: rank is in ascending order - this number is directly associated with the marketcap whereas the highest marketcap receives rank 1
      symbol:
        type: string
        description: most common symbol used to identify this asset on an exchange
      name:
        type: string
        description: proper name for asset
      supply:
        type: string
        description: available supply for trading
      maxSupply:
        type: string
        description: total quantity of asset issued
      marketCapUsd:
        type: string
        description: supply x price
      volumeUsd24Hr:
        type: string
        description: quantity of trading volume represented in USD over the last 24 hours
      priceUsd:
        type: string
        description: volume-weighted price based on real-time market data, translated to USD
      changePercent24Hr:
        type: string
        description: the direction and value change in the last 24 hours
      vwap24Hr:
        type: string
        description: Volume Weighted Average Price in the last 24 hours
      explorer:
        type: string
        description: the website of the currency
  ErrorResponse:
    type: object
    properties:
      error:
        type: string
      timestamp:
        type: integer
